* {
    margin: 0;
}

body {
    width: 720px;
    height: 1115px;
    box-sizing: border-box;
    margin: 0px auto;
    text-align: center;;
    font-family: Arial, Helvetica, sans-serif;
}

#hero, #body, #footer {
    margin: 0;
    width: 720px;
    box-sizing: border-box;
}

#hero {
    height: 343px;
    background-image: url(images/abuja.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

#body {
    height: 378px;
    /* background-color: #f1faee; */
    background: #f5f5dc;
    color: #1d3557;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

#activities {
    display: flex;
    justify-content: space-between;
}

#footer {
    height: 394px;
    background-color: #63542f;
    padding-top: 50px;
}

#guide {
    box-sizing: border-box;
    width: 400px;
    height: 294px;
    /* background-color: #a8dadc; */
    background: #F5F5DC;
    border-radius: 10px;
    border-bottom: 6px solid #1d3557;
    color: #1d3557;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0px 13px;
    margin: 0px auto;
}

.activity {
    width: 198px;
    height: 226px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.guide-info {
    box-sizing: border-box;
    width: 189px;
    height: 248.47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 0;
}

.activities-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.guide-img {
    width: 180px;
    height: 248.67px;
    border-radius: 10px;
}

.guide-abt {
    font-style: italic;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 32px;
    line-height: 36.8px;
    background-color: #1d3557;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 11px;
}

h2 {
    font-size: 18.72px;
    line-height: 21.53px;
    /* background-color: #457b9d; */
    color: #e9e4d4;
    text-shadow: 0 0 10px blue;
    width: 372px;
    padding: 10px 20px;
}

h3 {
    font-size: 24PX;
}

